[Desktop Entry]
Encoding=UTF-8
Name=Lien vers NAO VS NAO
Type=Link
URL=file:///home/victor/Programmation/projet_nao/tetris/JoueurGUI/tetris_ui.html#
Icon=text-html
